<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="whole">
    <div class="container">
      <div class="row verticalalign">
        <div class="col-md-offset-4 col-md-4">
          <h1 class="text-center headerfont">Welcome to myApp</h1>
          <h3 class="text-center">Login</h3>
          <form >
            <i class="fa fa-envelope lopala" aria-hidden="true"></i>
            <input class="form-control login-input" type="text" name="userId" placeholder="Email">
            <i class="fa fa-lock lopala" aria-hidden="true"></i>
            <input class="form-control login-input" type="password" name="password" placeholder="Password">
            <div class="row">
              <div class="col-md-6">
                <button class = "button"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Submit</button>
              </div>
              <div class="col-md-6">
                <button class = "button pull-right"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Register</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- <% include ../partials/nav.ejs %> -->




</body>
</html>
